*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.inicio {
  width: 100vw;
  height: 100vh;
  grid-template-rows: 200px;
  background-size: 100% 100%;
  background-image: url(../assets/combate.jpg);
}

/* Start */
.empezar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.img-pokeball {
  margin-right: 10px;
}

.empezar a:hover .img-pokeball {
  transform: rotate(360deg);
  transition: all 1s ease-in-out;
}

/* Alerta */
.opacity0 {
  opacity: 0;
  transition: opacity 1s;
}

.opacity1 {
  opacity: 100;
  transition: opacity 1s;
}

/* Selection mode */







@media (max-width: 700px) {
  .seleccion {
    flex-direction: column;
    align-items: center;
  }

  .seleccion div {
    margin-bottom: 50px;
  }
}